.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  display: flex;
  height: 100vh;
}

.left-container {
  flex: 1;
  border: 2px solid green;
  overflow: auto;
  text-align: center;
  justify-content: center;
  background-color: gray;
}

.middle-container {
  flex: 1;
  border: 2px solid red;
  box-shadow: 0 0 5px black;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(129, 117, 117);
}

.right-container {
  flex: 1;
  border: 2px solid blue;
  box-shadow: 0 0 5px black;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gray;
}

